<%- include("partials/header.ejs") %>
<div class="sec_name">
    <p>Coaching first_name last_name</p>
</div>
<div class="sec_coaching">
    <!-- Information section on the left-->
    <div class="sec_info">
        
    </div>
    <div class="sec_mind">

    </div>
    <div class="sec_body">

    </div>
    <div class="sec_spirit">

    </div>
    <div class="sec_finances">

    </div>
    <div class="sec_weekly_challenge">

    </div>
</div>


<%- include("partials/footer.ejs") %>